# Preserve upstream license formatting in generated notice documents.
ios/Herdcats/Resources/ThirdPartyNotices.txt whitespace=-blank-at-eol
web/public/third-party-notices.txt whitespace=-blank-at-eol
